/* stylelint-disable */

.icon {
  background-color: #ffffff;
  border-radius: 100%;
  color: #242943;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  line-height: 2em;
  text-align: center;
  width: 2em;

  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;

  :global(.contact-method) & {
    left: 0;
    position: absolute;
    top: 0;
  }
}

a.icon {
  &:hover {
    background-color: #6fc3df;
    color: #242943 !important;
  }

  &:active {
    background-color: #37a6cb;
  }
}
